
<script type="text/x-red" data-template-name="socket in">
    <div class="form-row">
        <label for="node-input-socket"><i class="fa fa-globe"></i> Socket</span></label>
        <input type="text" id="node-input-socket"/>
    </div>
</script>

<script type="text/x-red" data-help-name="socket in">
    <p>Connects to a UNIX socket and listens to xstream packets.</p>
    <p>Outputs a message with the properties:</p>
    <ul>
       <li><code>msg.topic</code></li>
       <li><code>msg.payload</code></li>
    </ul>
    <p><code>msg.payload</code> will be a msgPack encapsulated buffer.</p>
</script>


<script type="text/javascript">
    RED.nodes.registerType('socket in',{
        category: 'agsense',
        defaults: {
            socket: {type:"ipc-socket", required:true}
        },
        color:"#f3f3f3",
        inputs:0,
        outputs:1,
        icon: "bridge.png",
        label: function() {
            return  RED.nodes.node(this.socket).socket;
        },
        labelStyle: function() {
            return "node_label_italic";
        }
    });
</script>

<script type="text/x-red" data-template-name="socket out">
    <div class="form-row">
        <label for="node-input-socket"><i class="fa fa-globe"></i> Socket</span></label>
        <input type="text" id="node-input-socket">
    </div>
</script>

<script type="text/x-red" data-help-name="socket out">
    <p>Connects to a UNIX socket and writes to it</p>
    <p>Payload will binary safe (assumes msgPack) and will will be encapsulted as xtream packet</p>
</script>




<script type="text/javascript">
    RED.nodes.registerType('socket out',{
        category: 'agsense',
        defaults: {
            socket: {type:"ipc-socket", required:true}
        },
        color:"#f3f3f3",
        inputs:1,
        outputs:0,
        icon: "bridge.png",
        align: "right",
        label: function() {
            if (!this.socket)
                return "";
            return  RED.nodes.node(this.socket).name || RED.nodes.node(this.socket).socket;
        },
        labelStyle: function() {
            return "node_label_italic";
        }
    });
</script>


<script type="text/javascript">
    RED.nodes.registerType('ipc-socket',{
        category: 'config',
        defaults: {
            socket:{value:"",required:true,validate:function(o){ return true; }},
        },

        oneditprepare: function () {
            var $this = this;
        	   this.shownames = -1;
            this.reloadSelect = function() {
                $.ajaxSetup({ cache: false });
                $.getJSON("ipc/sockets/available?",{id:$this.id}).done(function(data) {
                        $('#node-config-input-socket')
                        .find('option')
                        .remove()
                        .end();
                        console.log(data,Object.keys(data).length);
                        Object.keys(data).forEach(function(idx){
                            console.log(idx);
                            var opt = ($this.socket === idx) ? "<option selected>":"<option>"
                            $('#node-config-input-socket')
                                .append($(opt, { value : idx })
                                .text(($this.shownames) ? data[idx]:idx)); 
                        });
                    
                        }).fail(function(jqxhr) {
                            if (jqxhr.status == 0) {
                                $('#node-config-input-error').html("Failed to connect to Node-RED");
                            } else {
                                $('#node-config-input-error').html(jqxhr.status+": "+jqxhr.statusText);
                            }
                        });
                    }; // reloadSelect
            
                $('#shownames').change(()=>{ 
                    if ($this.shownames == $('#shownames')[0].checked)
                         return;	
                    $this.shownames = $('#shownames')[0].checked; 
                    console.log($this.shownames);
                    $this.reloadSelect();
                });
            
                $('#shownames').trigger("change");
        },
        oneditsave: function(o) {
            ;
        },
        label: function() {
            return this.socket;
        },
    });
</script>


<script type="text/x-red" data-template-name="ipc-socket">
    <div class="form-row">
        <label for="node-config-input-socket"><i class="icon-bookmark"></i> Socket</label>
        <span style="white-space:nowrap;"><select type="select" id="node-config-input-socket">
        </select> Names <input type="checkbox" id="shownames" name="shownames" value=false /></span>
        <div><i id="#node-config-input-error/i></div>
    </div>
</script>
