<link rel="stylesheet" href="leaflet.css"/>
<script type="text/javascript">

RED.nodes.registerType('tank', {
  category: 'agsense',
  color: '#a6bbcf',
  defaults: {
    socket: {value:"", required:true},
    port: {value: "", required: true},
    height: {value: "", required: true},
    latlon: {value: "", required: false},
    friendly_name: {value: "Tank"},
  },
        
  inputs: 1,
  outputs: 1,
  label: function() {
    return this.friendly_name || "Tank";
  },
  icon: "tank.svg",
  button: {
    onclick: function() {
       $.getJSON('device/*/request?',{id:this.id}).done(function(data) {
        console.log(data);
       });
    }
  },
  oneditsave: function () {
    $('#node-input-latlon').blur();
  },
  oneditprepare: function () {
        var $this = this;
        this.shownames = -1;
        this.reloadSelect = function() {
            $.ajaxSetup({ cache: false });
            $.getJSON("ipc/sockets/available?",{id:$this.id}).done(function(data) {
                    $('#node-input-socket')
                    .find('option')
                    .remove()
                    .end();
                    console.log(data,Object.keys(data).length);
                    Object.keys(data).forEach(function(idx) {
                        console.log("Appending",idx);
                        var opt = ($this.socket === idx) ? "<option selected>":"<option>"
                        $('#node-input-socket')
                            .append($(opt, { value : idx })
                            .text(($this.shownames) ? data[idx]:idx)); 
                    });
                
                    }).fail(function(jqxhr) {
                        if (jqxhr.status == 0) {
                            $('#node-input-error').html("Failed to connect to Node-RED");
                        } else {
                            $('#node-input-error').html(jqxhr.status+": "+jqxhr.statusText);
                        }
                    });
            }; // reloadSelect

            $('#shownames').change(() => { 
                if ($this.shownames == $('#shownames')[0].checked)
                     return;	
                $this.shownames = $('#shownames')[0].checked; 
                $this.reloadSelect();
            });
        
            $('#shownames').trigger("change");

 
        $.getScript("locationpicker.js", function () {
            $('#node-input-latlon').leafletLocationPicker({
                 locationFormat: '{lat},{lng}',
                 position: 'bottomleft',
                 height:300,
                 width:300,
                 layer: 'LINZ'   
            });
        });
   
        if (!$("#node-input-latlon").val()) {
            $.getJSON('config?',{key:"latlon"}).done(function(data) {
               $("#node-input-latlon").val(data.val);
        });
    }

    $("#node-dialog-cancel").click(()=>{
        $('#node-input-latlon').blur();
    });

    for(var i=1; i <= 5; i++) {
        var k = (i==5) ? 1:10;
        for(var j=0; j <k; j++) {
            var key = String(i + j/10);
            if (!j)
                key +=".0";
            var opt = ($this.height === key ) ? "<option selected>":"<option>" 
            $('#node-input-height')
                .append($(opt, { value : key })
                .text(key + "M")); 
            }
        }
    },
});
</script>

<script type="text/x-red" data-template-name="tank">
    
<div class="form-row">
    <div class="form-row" style="white-space:nowrap;">
        <label for="node-input-socket"><i class="icon-bookmark"></i> Socket</label>
        <span style="white-space:nowrap;"><select type="select" id="node-input-socket">
        </select>
         <input type="checkbox" id="shownames" title="Show Names" name="shownames" value=false /></span>
    </div>

    <div class="form-row">
        <label for="node-input-port"><i class="icon-tag"></i> Port</label>
        <select type="select" id="node-input-port">
        <option value=AD0>Analog 0</option>
        <option value=AD1>Analog 1</option>
        <option value=AD2>Analog 2</option>
        <option value=AD3>Analog 3</option>
        </select>
    </div>

<div class="form-row">
    <label for="node-input-height"><i class="icon-tag"></i> Height</label>
    <select type="select" id="node-input-height">
    </select>
</div>

<div class="form-row">
  <label for="node-input-friendly_name"><i class="icon-tag"></i> Name</label>
  <input type="text" id="node-input-friendly_name" placeholder="Name">
</div>
<div class="form-row">
  <label for="node-input-latlon"><i class="icon-tag"></i> Location</label>
  <input type="text" id="node-input-latlon" placeholder="Location">
</div>


</script>
