<link rel="stylesheet" href="leaflet.css"/>
<script type="text/javascript">
RED.nodes.registerType('camera', {
  category: 'agsense',
  color: '#a6bbcf',
  defaults: {
    socket: {value:"", required:true},
    friendly_name: {value: "Camera"},
    exp: {value: 0x46},
    res: {value: 0x00},
    irc: {value: false},
    latlon: {value: "", required: false},
  },
  icon: "camera.svg",
  inputs: 1,
  outputs: 1,
  label: function() {
    return `camera:${this.friendly_name}`;
  },
  button: {
        onclick: function() {
           $.getJSON('device/*/request?',{id:this.id}).done(function(data) {
            console.log(data);
           });
        }
    },
    oneditsave: function () {
        $('#node-input-latlon').blur();
    },
    oneditprepare: function () {
       var $this = this;
       this.shownames = -1;
        this.reloadSelect = function() {
            $.ajaxSetup({ cache: false });
            $.getJSON("ipc/sockets/available?",{id:$this.id}).done(function(data) {
                    $('#node-input-socket')
                    .find('option')
                    .remove()
                    .end();
                    Object.keys(data).forEach(function(idx) {
                        var opt = ($this.socket === idx) ? "<option selected>":"<option>"
                        $('#node-input-socket')
                            .append($(opt, { value : idx })
                            .text(($this.shownames) ? data[idx]:idx)); 
                    });
                
                    }).fail(function(jqxhr) {
                        if (jqxhr.status == 0) {
                            $('#node-input-error').html("Failed to connect to Node-RED");
                        } else {
                            $('#node-input-error').html(jqxhr.status+": "+jqxhr.statusText);
                        }
                    });
            }; // reloadSelect
    
            $('#shownames').change(() => { 
                if ($this.shownames == $('#shownames')[0].checked)
                     return;	
                $this.shownames = $('#shownames')[0].checked; 
                console.log($this.shownames);
                $this.reloadSelect();
            });
        
            $('#shownames').trigger("change");
  
            $.getScript("locationpicker.js", function () {
                 $('#node-input-latlon').leafletLocationPicker({
                        locationFormat: '{lat},{lng}',
                        position: 'bottomleft',
                        height:300,
                        width:300,
                        layer: 'LINZ'   
            });
        });
      
        if (!$("#node-input-latlon").val()) {
            $.getJSON('config?',{key:"latlon"}).done(function(data) {
                $("#node-input-latlon").val(data.val);
          });
        }

        $("#node-dialog-cancel").click(()=> {
            $('#node-input-latlon').blur();
        });
    }
});
</script>

<script type="text/x-red" data-template-name="camera">
<div class="form-row">
    <div class="form-row" style="white-space:nowrap;">
        <label for="node-input-socket"><i class="icon-bookmark"></i> Socket</label>
        <span style="white-space:nowrap;"><select type="select" id="node-input-socket">
        </select>
         <input type="checkbox" id="shownames" title="Show Names" name="shownames" value=false /></span>
    </div>
    <div class="form-row">
      <label for="node-input-friendly_name"><i class="icon-tag"></i> Name</label>
      <input type="text" id="node-input-friendly_name" placeholder="Name">
    </div>
    <div class="form-row">
      <label for="node-input-res"><i class="icon-tag"></i> Resolution</label>
    <select type="select" id="node-input-res">
            <option value=0x22>160x120</option>
            <option value=0x11>320x240</option>
            <option value=0x00>640x480</option>
            <option value=0x1D>800x600</option>
            <option value=0x1C>1024x768</option>
            <option value=0x1B>1280x960</option>
            <option value=0x21>1600x1200</option>
            </select>
    </div>
    <div class="form-row">
        <label for="node-input-irc"><i class="icon-tag"></i> IR Cut</label>
        <select type="select" id="node-input-irc">
                <option value=true>Day</option>
                <option value=false>Night</option>
                </select>
    </div>

    <div class="form-row">
        <label for="node-input-exp"><i class="icon-tag"></i> Exposure</label>
        <select type="select" id="node-input-exp">
        <option value=0x0>Auto</option>
        <option value=0x1>0x1</option>
        <option value=0x2>0x2</option>
        <option value=0x3>0x3</option>
        <option value=0x4>0x4</option>
        <option value=0x5>0x5</option>
        <option value=0x6>0x6</option>
        <option value=0x7>0x7</option>
        <option value=0x8>0x8</option>
        <option value=0x9>0x9</option>
        <option value=0xa>0xa</option>
        <option value=0xb>0xb</option>
        <option value=0xc>0xc</option>
        <option value=0xd>0xd</option>
        <option value=0xe>0xe</option>
        <option value=0xf>0xf</option>
        <option value=0x10>0x10</option>
        <option value=0x11>0x11</option>
        <option value=0x12>0x12</option>
        <option value=0x13>0x13</option>
        <option value=0x14>0x14</option>
        <option value=0x15>0x15</option>
        <option value=0x16>0x16</option>
        <option value=0x17>0x17</option>
        <option value=0x18>0x18</option>
        <option value=0x19>0x19</option>
        <option value=0x1a>0x1a</option>
        <option value=0x1b>0x1b</option>
        <option value=0x1c>0x1c</option>
        <option value=0x1d>0x1d</option>
        <option value=0x1e>0x1e</option>
        <option value=0x1f>0x1f</option>
        <option value=0x20>0x20</option>
        <option value=0x21>0x21</option>
        <option value=0x22>0x22</option>
        <option value=0x23>0x23</option>
        <option value=0x24>0x24</option>
        <option value=0x25>0x25</option>
        <option value=0x26>0x26</option>
        <option value=0x27>0x27</option>
        <option value=0x28>0x28</option>
        <option value=0x29>0x29</option>
        <option value=0x2a>0x2a</option>
        <option value=0x2b>0x2b</option>
        <option value=0x2c>0x2c</option>
        <option value=0x2d>0x2d</option>
        <option value=0x2e>0x2e</option>
        <option value=0x2f>0x2f</option>
        <option value=0x30>0x30</option>
        <option value=0x31>0x31</option>
        <option value=0x32>0x32</option>
        <option value=0x33>0x33</option>
        <option value=0x34>0x34</option>
        <option value=0x35>0x35</option>
        <option value=0x36>0x36</option>
        <option value=0x37>0x37</option>
        <option value=0x38>0x38</option>
        <option value=0x39>0x39</option>
        <option value=0x3a>0x3a</option>
        <option value=0x3b>0x3b</option>
        <option value=0x3c>0x3c</option>
        <option value=0x3d>0x3d</option>
        <option value=0x3e>0x3e</option>
        <option value=0x3f>0x3f</option>
        <option value=0x40>0x40</option>
        <option value=0x41>0x41</option>
        <option value=0x42>0x42</option>
        <option value=0x43>0x43</option>
        <option value=0x44>0x44</option>
        <option value=0x45>0x45</option>
        <option value=0x46>0x46</option>
        <option value=0x47>0x47</option>
        <option value=0x48>0x48</option>
        <option value=0x49>0x49</option>
        <option value=0x4a>0x4a</option>
        <option value=0x4b>0x4b</option>
        <option value=0x4c>0x4c</option>
        <option value=0x4d>0x4d</option>
        <option value=0x4e>0x4e</option>
        <option value=0x4f>0x4f</option>
        <option value=0x50>0x50</option>
        <option value=0x51>0x51</option>
        <option value=0x52>0x52</option>
        <option value=0x53>0x53</option>
        <option value=0x54>0x54</option>
        <option value=0x55>0x55</option>
        <option value=0x56>0x56</option>
        <option value=0x57>0x57</option>
        <option value=0x58>0x58</option>
        <option value=0x59>0x59</option>
        <option value=0x5a>0x5a</option>
        <option value=0x5b>0x5b</option>
        <option value=0x5c>0x5c</option>
        <option value=0x5d>0x5d</option>
        <option value=0x5e>0x5e</option>
        <option value=0x5f>0x5f</option>
        <option value=0x60>0x60</option>
        <option value=0x61>0x61</option>
        <option value=0x62>0x62</option>
        <option value=0x63>0x63</option>
        <option value=0x64>0x64</option>
        <option value=0x65>0x65</option>
        <option value=0x66>0x66</option>
        <option value=0x67>0x67</option>
        <option value=0x68>0x68</option>
        <option value=0x69>0x69</option>
        <option value=0x6a>0x6a</option>
        <option value=0x6b>0x6b</option>
        <option value=0x6c>0x6c</option>
        <option value=0x6d>0x6d</option>
        <option value=0x6e>0x6e</option>
        <option value=0x6f>0x6f</option>
        <option value=0x70>0x70</option>
        <option value=0x71>0x71</option>
        <option value=0x72>0x72</option>
        <option value=0x73>0x73</option>
        <option value=0x74>0x74</option>
        <option value=0x75>0x75</option>
        <option value=0x76>0x76</option>
        <option value=0x77>0x77</option>
        <option value=0x78>0x78</option>
        <option value=0x79>0x79</option>
        <option value=0x7a>0x7a</option>
        <option value=0x7b>0x7b</option>
        <option value=0x7c>0x7c</option>
        <option value=0x7d>0x7d</option>
        <option value=0x7e>0x7e</option>
        <option value=0x7f>0x7f</option>
        <option value=0x80>0x80</option>
        <option value=0x81>0x81</option>
        <option value=0x82>0x82</option>
        <option value=0x83>0x83</option>
        <option value=0x84>0x84</option>
        <option value=0x85>0x85</option>
        <option value=0x86>0x86</option>
        <option value=0x87>0x87</option>
        <option value=0x88>0x88</option>
        <option value=0x89>0x89</option>
        <option value=0x8a>0x8a</option>
        <option value=0x8b>0x8b</option>
        <option value=0x8c>0x8c</option>
        <option value=0x8d>0x8d</option>
        <option value=0x8e>0x8e</option>
        <option value=0x8f>0x8f</option>
        <option value=0x90>0x90</option>
        <option value=0x91>0x91</option>
        <option value=0x92>0x92</option>
        <option value=0x93>0x93</option>
        <option value=0x94>0x94</option>
        <option value=0x95>0x95</option>
        <option value=0x96>0x96</option>
        <option value=0x97>0x97</option>
        <option value=0x98>0x98</option>
        <option value=0x99>0x99</option>
        <option value=0x9a>0x9a</option>
        <option value=0x9b>0x9b</option>
        <option value=0x9c>0x9c</option>
        <option value=0x9d>0x9d</option>
        <option value=0x9e>0x9e</option>
        <option value=0x9f>0x9f</option>
        <option value=0xa0>0xa0</option>
        <option value=0xa1>0xa1</option>
        <option value=0xa2>0xa2</option>
        <option value=0xa3>0xa3</option>
        <option value=0xa4>0xa4</option>
        <option value=0xa5>0xa5</option>
        <option value=0xa6>0xa6</option>
        <option value=0xa7>0xa7</option>
        <option value=0xa8>0xa8</option>
        <option value=0xa9>0xa9</option>
        <option value=0xaa>0xaa</option>
        <option value=0xab>0xab</option>
        <option value=0xac>0xac</option>
        <option value=0xad>0xad</option>
        <option value=0xae>0xae</option>
        <option value=0xaf>0xaf</option>
        <option value=0xb0>0xb0</option>
        <option value=0xb1>0xb1</option>
        <option value=0xb2>0xb2</option>
        <option value=0xb3>0xb3</option>
        <option value=0xb4>0xb4</option>
        <option value=0xb5>0xb5</option>
        <option value=0xb6>0xb6</option>
        <option value=0xb7>0xb7</option>
        <option value=0xb8>0xb8</option>
        <option value=0xb9>0xb9</option>
        <option value=0xba>0xba</option>
        <option value=0xbb>0xbb</option>
        <option value=0xbc>0xbc</option>
        <option value=0xbd>0xbd</option>
        <option value=0xbe>0xbe</option>
        <option value=0xbf>0xbf</option>
        <option value=0xc0>0xc0</option>
        <option value=0xc1>0xc1</option>
        <option value=0xc2>0xc2</option>
        <option value=0xc3>0xc3</option>
        <option value=0xc4>0xc4</option>
        <option value=0xc5>0xc5</option>
        <option value=0xc6>0xc6</option>
        <option value=0xc7>0xc7</option>
        <option value=0xc8>0xc8</option>
        <option value=0xc9>0xc9</option>
        <option value=0xca>0xca</option>
        <option value=0xcb>0xcb</option>
        <option value=0xcc>0xcc</option>
        <option value=0xcd>0xcd</option>
        <option value=0xce>0xce</option>
        <option value=0xcf>0xcf</option>
        <option value=0xd0>0xd0</option>
        <option value=0xd1>0xd1</option>
        <option value=0xd2>0xd2</option>
        <option value=0xd3>0xd3</option>
        <option value=0xd4>0xd4</option>
        <option value=0xd5>0xd5</option>
        <option value=0xd6>0xd6</option>
        <option value=0xd7>0xd7</option>
        <option value=0xd8>0xd8</option>
        <option value=0xd9>0xd9</option>
        <option value=0xda>0xda</option>
        <option value=0xdb>0xdb</option>
        <option value=0xdc>0xdc</option>
        <option value=0xdd>0xdd</option>
        <option value=0xde>0xde</option>
        <option value=0xdf>0xdf</option>
        <option value=0xe0>0xe0</option>
        <option value=0xe1>0xe1</option>
        <option value=0xe2>0xe2</option>
        <option value=0xe3>0xe3</option>
        <option value=0xe4>0xe4</option>
        <option value=0xe5>0xe5</option>
        <option value=0xe6>0xe6</option>
        <option value=0xe7>0xe7</option>
        <option value=0xe8>0xe8</option>
        <option value=0xe9>0xe9</option>
        <option value=0xea>0xea</option>
        <option value=0xeb>0xeb</option>
        <option value=0xec>0xec</option>
        <option value=0xed>0xed</option>
        <option value=0xee>0xee</option>
        <option value=0xef>0xef</option>
        <option value=0xf0>0xf0</option>
        <option value=0xf1>0xf1</option>
        <option value=0xf2>0xf2</option>
        <option value=0xf3>0xf3</option>
        <option value=0xf4>0xf4</option>
        <option value=0xf5>0xf5</option>
        <option value=0xf6>0xf6</option>
        <option value=0xf7>0xf7</option>
        <option value=0xf8>0xf8</option>
        <option value=0xf9>0xf9</option>
        <option value=0xfa>0xfa</option>
        <option value=0xfb>0xfb</option>
        <option value=0xfc>0xfc</option>
        <option value=0xfd>0xfd</option>
        <option value=0xfe>0xfe</option>
        <option value=0xff>0xff</option>
    </select>
    </div>
    <div class="form-row">
      <label for="node-input-latlon"><i class="icon-tag"></i> Location</label>
      <input type="text" id="node-input-latlon" placeholder="Location">
    </div>
</div>


</script>

