<script type="text/javascript">
RED.nodes.registerType('videostream', {
  category: 'agsense',
  color: '#a6bbcf',
  defaults: {
    url: {required:true, validate: RED.validators.regex(/http:\/\/.+/)},
	lat: {validate: RED.validators.regex(/.*/)},
	lon: {validate: RED.validators.regex(/.*/)}
  },
  inputs: 1,
  outputs: 1,
  label: function() {
    return `videostream:${this.friendly_name}`;
  },
  button: {
    onclick: function() {
       $.getJSON('device/*/request?',{id:this.id}).done(function(data) {
        console.log(data);
       });
    }
  },
});
</script>


<script type="text/x-red" data-template-name="videostream">
<div class="form-row">
    <div class="form-row">
    <label for="node-input-url"><i class="fa fa-globe"></i> Video Stream URL</span></label>
    <input type="text" id="node-input-url">
</div>
<hr>
<div class="form-row">
    <h4>Location</h4>
    <div class="form-row">
        <label for="node-input-lat"><i class="fa fa-globe"></i> Latitude</span></label>
        <input type="text" id="node-input-lat">
    </div>
    <div class="form-row">
        <label for="node-input-lon"><i class="fa fa-globe"></i> Longitude</span></label>
		<input type="text" id="node-input-lon">
    </div>
</div>

</script>


