<script>
RED.nodes.registerType('updates', {
  category: 'agsense',
  color: '#f3f3f3',
  icon: "bridge.png",
  outputs: 1,
  label: 'updates',
});
</script>

<script type="text/x-red" data-template-name="updates">
</script>

<script type="text/x-red" data-help-name="updates">
  <p>Will emit entities updates</p>
</script>
