<script type="text/javascript">
RED.nodes.registerType("senml", {
        category: "agsense",
        color: "#eebbcf",
        defaults: {
            socket:         {value: "", required: true },
            friendly_name:  {value: "SenML", required: true },
            senml: {value: "{\"n\" : \"VERS\"}", required: true },
        },
        inputs: 1,
        outputs: 1,
        label: function() {
                return this.friendly_name || "SenML";
        },
        
        button: {
                onclick: function() {
                	$.getJSON('device/*/request?', {id: this.id}).done(function(data) {
                                   console.log(data);
                });
            }
        },
        oneditprepare: function () {
            var $this      = this;
            this.shownames = -1;
            this.reloadSelect = function() {
                $.ajaxSetup({ cache: false });
                $.getJSON("ipc/sockets/available?",{id:$this.id}).done(function(data) {
                    $('#node-input-socket')
                    .find('option')
                    .remove()
                    .end();
                    Object.keys(data).forEach(function(idx) {
                        var opt = ($this.socket === idx) ? "<option selected>":"<option>"
                        $('#node-input-socket')
                            .append($(opt, { value : idx })
                            .text(($this.shownames) ? data[idx]:idx)); 
                    });
                
                    }).fail(function(jqxhr) {
                        if (jqxhr.status == 0) {
                            $('#node-input-error').html("Failed to connect to Node-RED");
                        } else {
                            $('#node-input-error').html(jqxhr.status+": "+jqxhr.statusText);
                        }
                    });
            }; // reloadSelect
    
           $('#shownames').change(() => { 
                if ($this.shownames == $('#shownames')[0].checked)
                     return;	
                $this.shownames = $('#shownames')[0].checked; 
                console.log($this.shownames);
                $this.reloadSelect();
           });
        
           $('#shownames').trigger("change");
        }

});

</script>

<script type="text/x-red" data-template-name="senml">
<div class="form-row">
    <div class="form-row" style="white-space:nowrap;">
        <label for="node-input-socket"><i class="icon-bookmark"></i> Socket</label>
        <span style="white-space:nowrap;"><select type="select" id="node-input-socket">
        </select>
         <input type="checkbox" id="shownames" title="Show Names" name="shownames" value=false /></span>
    </div>
    <div class="form-row">
      <label for="node-input-friendly_name"><i class="icon-tag"></i> Name</label>
      <input type="text" id="node-input-friendly_name" placeholder="Name">
    </div>
    
    <div class="form-row">
    <label for="node-input-pin"><i class="icon-tag"></i> SenML</label>
            <input type="textarea" id="node-input-senml">
            </textarea>
    </div>
</div>


</script>

