<link rel="stylesheet" href="leaflet.css"/>
<script type="text/javascript">
    RED.nodes.registerType("load-cell", {
        category: "agsense",
        color: "#C7967E",
        defaults: {
            socket: {type:"ipc-socket", required: true },
            latlon: {value: "", required: false},
            friendly_name: {value: "Load Cell"}
        },
        inputs: 1,
        outputs: 1,
        label: function () {
            return this.friendly_name || "Load Cell";
        },
        icon: "load-cell.svg",
        button: {
            onclick: function() {
                $.getJSON('device/*/request?', {id: this.id}).done(function(data) {
                    console.log(data);
                });
            }
        },
        oneditsave: function () {
            $('#node-input-latlon').blur();
        },
        oneditprepare: function () {
            var $this = this;

            $.getScript("locationpicker.js", function () {
                $('#node-input-latlon').leafletLocationPicker({
                    locationFormat: '{lat},{lng}',
                    position: 'bottomleft',
                    height: 300,
                    width: 300,
                    layer: 'LINZ'
                });
            });

            if (!$("#node-input-latlon").val()) {
                $.getJSON('config?', {key: "latlon"}).done(function (data) {
                    $("#node-input-latlon").val(data.val);
                });
            }
            $("#node-dialog-cancel").click(() => {
                $('#node-input-latlon').blur();
            });
        }
    });
</script>

<script type="text/x-red" data-template-name="load-cell">
<div class="form-row">
    <label for="node-input-socket"><i class="fa fa-globe"></i> Socket</span></label>
    <input type="text" id="node-input-socket" />
</div>
<div class="form-row">
    <label for="node-input-friendly_name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-friendly_name" placeholder="Name">
</div>
<div class="form-row">
  <label for="node-input-latlon"><i class="icon-tag"></i> Location</label>
  <input type="text" id="node-input-latlon" placeholder="Location">
</div>

</script>
