/**
 * Copyright JS Foundation and other contributors, http://js.foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 **/

.debug-window {
    padding:0;
    margin:0;
    background: #fff;
    line-height: 20px;
}
.debug-window .debug-message-payload {
    font-size: 14px;
}
.debug-content {
    position: absolute;
    top: 43px;
    bottom: 0px;
    left:0px;
    right: 0px;
    overflow-y: scroll;
}
.debug-filter-box {
    position:absolute;
    top: 42px;
    left: 0px;
    right: 0px;
    background: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.debug-filter-row {
    text-align: right;
}

.debug-message {
    border-bottom: 1px solid #eee;
    border-left: 8px solid #eee;
    border-right: 8px solid #eee;
    padding: 2px;
}
.debug-message-meta {
    background: #fff;
    font-size: 10px;
    color: #777;
}
.debug-message-date {
    padding: 1px 5px 1px 1px;
}
.debug-message-topic {
    display: block;
    color: #a66;
}
.debug-message-name {
    padding: 1px 5px;
    color: #777;
}
.debug-message-payload {
    display: block;
    padding: 2px;
    background: #fff;
}
.debug-message-level-log {
    border-left-color: #eee;
    border-right-color: #eee;
}
.debug-message-level-30 {
    border-left-color: #ffdf9d;
    border-right-color: #ffdf9d;
}
.debug-message-level-20 {
    border-left-color: #f99;
    border-right-color: #f99;
}
.debug-message-object-entry {
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.debug-message-element {
    color: #333;
    font-family: Menlo, monospace;
    font-size: 12px !important;
    line-height: 1.3em;
}
.debug-message-object-key {
    color: #792e90;
}
.debug-message-object-value {

}
.debug-message-object-handle {
    color: #666;
    font-size: 1em;
    width: 1em;
    text-align: center;
    transition: transform 0.1s ease-in-out;
    transform: rotate(90deg);
}
.debug-message-element:not(.debug-message-top-level)>.debug-message-expandable>.debug-message-object-handle {
    margin-left: -1em;
}
.debug-message-object-entry>.debug-message-expandable>.debug-message-object-handle {
    margin-left: -1em;
}
.debug-message-object-entry.collapsed>span>.debug-message-object-handle {
    transform: rotate(0deg);
}
.debug-message-element.collapsed>span>.debug-message-object-handle {
    transform: rotate(0deg);
}

.debug-message-object-entry.collapsed > .debug-message-object-entry {
    display:none;
}

.debug-message-element.collapsed .debug-message-object-entry {
    display:none;
}
.debug-message-element:not(.collapsed)>.debug-message-expandable>.debug-message-object-value>.debug-message-object-header {
    display:none;
}
.debug-message-element.collapsed .debug-message-buffer-opts {
    display: none;
}

.debug-message-element.collapsed .debug-message-object-type-header {
    display:none;
}
.debug-message-object-entry pre {
    font-family: Menlo, monospace;
    font-size: 12px;
    line-height: 1.4em;
    margin: 0 0 0 -1em;
}

.debug-message-type-other { color: #2033d6; }
.debug-message-type-string { color: #b72828; }
.debug-message-type-null { color: #666; font-style: italic;}
.debug-message-type-meta { color: #666; font-style: italic;}
.debug-message-type-number { color: #2033d6; };
.debug-message-type-number-toggle { cursor: pointer;}

.debug-message-expandable {
    cursor: pointer;
}
.debug-message-expandable:hover {
    background: #fefefe;
}
.debug-message-expandable:hover .debug-message-object-handle {
    color: #b72828 !important;
}

.debug-message-buffer-opts a {
    font-size: 9px;
    color: #bbb;
    border: 1px solid #bbb;
    border-radius: 2px;
    padding: 2px 5px;
    margin-left: 5px;
}
.debug-message-buffer-opts a:hover {
    text-decoration: none;
    color: #999;
    border: 1px solid #999;
    background: #f3f3f3;
}
.debug-message-buffer-raw > .debug-message-string-rows {
    display: none;
}
.debug-message-buffer-string > .debug-message-array-rows {
    display: none;
}
